@page "/"
@using APis.Components.Models
@using APis.Components.Services
@inject PostService PostService

<h3>Posts</h3>

@if (posts == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        @foreach (var post in posts)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Body</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetPostsAsync();
    }
}
