@inherits LayoutComponentBase

<div class="layout2-container bg-dark text-light d-flex justify-content-center align-items-center min-vh-100">
    <div>
        <NavMenu />
        @Body
    </div>
</div>
