<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">LearningLayouts</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
		        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<i class="bi bi-house-door-fill me-1"></i> Home
				</NavLink>
				<NavLink class="nav-link" href="/about">
					<i class="bi bi-plus-square-fill me-1"></i> About us
				</NavLink>
				<NavLink class="nav-link" href="/contact">
					<i class="bi bi-list-nested me-1"></i> Contact us
				</NavLink>

			</ul>
		</div>
	</div>
</nav>