@page "/"
@using LearningLayouts.Components.Layout
@layout MyLayout1

<h1>Welcome to Our Website</h1>
<p>This is a fictional company site built using Blazor layouts.</p>
<p>Navigate using the links above to learn more about us or get in touch.</p>
